*.obj
*.tlog
*.sbr
*.bsc
*.idb
*.pch
*.pdb
*.ilk
*.log
*.ipch
*.exe
*.*state
*.suo
*.sdf
*.res
*.*sdf
*.*build
*.cnt
Debug/*
Release/*
x64/Debug/*
x64/Release/*
ReadTR2/Debug/*
ReadTR2/Release/*
*.~old
